.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom; 
  height: 20em;
}

.overlay {
  color: #fefefe;
  text-shadow: 1px 1px #000;
  padding-top: 6em;
}