div.blogEntry {
  background-color: #ccc;
  border: 0.2em solid #292929;
  padding: 1em;
  margin-top: 1em;
  /*border-radius: 0.5em;*/
}

.blogEntry a {
  text-decoration: none;
  color: #127FC2;
  /*color: #235789;*/
}

.blogThumbnail {
  border-radius: 0.5em;
  border: 0.15em solid #292929 
}